.bPostList {
  $this: &;

  &__sortBy {
    font-family: $Roboto-Italic;
    font-size: 14px;
    color: $color-blue-3;
    @include margin-bottom(20px, 55px);
    text-align: center;

    @include sm {
      text-align: left;
    }

  }

  &__items {
    margin-bottom: 44px;
  }

  &__item {
    padding: 30px 40px 20px 22px;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    margin-bottom: 20px;
    @include cr-last-item;
  }

  &__header {
    margin-bottom: 17px;
    @include cr-last-child;
  }

  &__date {
    font-family: $RobotoCondensed-Regular;
    font-size: 12px;
    color: $color-red;
    margin-bottom: 4px;
  }

  &__title {
    @include font-size(20px, 24px);
    color: $color-blue-3;
    font-family: $FreightTextProBook-Regular;
    text-decoration: none;
    line-height: 1.3;

    &:hover {
      color: $color-red;
    }
  }

  &__text {
    font-family: $Roboto-Regular;
    font-size: 12px;
    color: #888888;
    margin-bottom: 28px;
    @include cr-last-child;

  }

  &__readMore {
    font-family: $Roboto-Italic;
    font-size: 12px;
    color: $color-blue-3;
    text-transform: capitalize;
  }

  &__pager {
    display: flex;
    align-items: center;

  }

  &__pagerTitle {
    font-family: $Roboto-Italic;
    font-size: 14px;
    color: $color-blue-3;
    margin-right: 12px;
  }

  &__btnWrap {
    margin-bottom: 20px;
  }

  &__bAudio {
    margin-bottom: 15px;
  }

  &_a {

    #{$this}__text {
      margin-bottom: 20px;
    }
  }
}