.sHeader {
  $this: &;
  line-height: 1.2;
  background: $color-blue;
  z-index: 101;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  .modal-open & {
    overflow-y: scroll;
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }

  .bContainer {

    &:before {
      display: none;
    }
  }

  &__top {
    background: $color-blue;
    border-bottom: 1px solid $border-color;

    .bContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
    }
  }

  &__bottom {
    background: $color-blue;
    text-align: center;

    @include sm {
      background: $color-dark-blue;
    }

    .bContainer {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      @include padding(14px 5%, 0);

      @include xs-only {
        max-width: none;
      }

      @include md {
        justify-content: center;
      }

      & > * {
        @include margin(0 8px, 0 16px);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__btn-mobile {
    position: relative;
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    padding: 10px 4px;
    @include display(flex, none);
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

    &:after, &:before, span {
      content: '';
      display: block;
      background: $color-white;
      height: 2px;
      transition: background .3s;
      pointer-events: none;
    }

  }

  $fist-ul: "&__menu-wrap > ul.menu";
  $fist-li: #{$fist-ul} " > li";
  $fist-li--active: #{$fist-ul} " > li.menu-item--active-trail";
  $fist-li--hover: #{$fist-ul} " > li:hover";
  $fist-a: #{$fist-li} " > a";
  $fist-span: #{$fist-li} " > span";

  $second-ul: #{$fist-li} " > ul";
  $second-li: #{$second-ul} " > li";
  $second-li--active: #{$second-ul} " > li.menu-item--active-trail";
  $second-li--hover: #{$second-ul} " > li:hover";
  $second-a: #{$second-li} " > a";

  $third-ul: #{$second-li} " > ul";
  $third-li: #{$third-ul} " > li";
  $third-li--active: #{$third-ul} " > li.menu-item--active-trail";
  $third-li--hover: #{$third-ul} " > li:hover";
  $third-a: #{$third-li} " > a";

  #{$fist-ul} {
    margin: 0;
    background: $color-dark-blue;
    padding: 5px 0;
    width: 100%;
    list-style: none;

    @media (min-width: $bp-small) {
      background: transparent;
      padding: 0;
      width: auto;
      border: none;
      margin-left: -3px;
      margin-right: -3px;
      display: flex;
    }

    @media (min-width: $bp-middle) {
      margin-left: -13px;
      margin-right: -13px;
    }

    @include sm-only {
      display: flex;
      justify-content: space-between;
    }
  }

  #{$fist-li} {
    list-style: none;
    margin: 0;
    padding: 0 5%;
    position: relative;
    line-height: 1.2;
    text-align: left;

    @media (min-width: $bp-small) {
      text-align: center;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      line-height: 1;
    }

    @media (min-width: $bp-middle) {
      margin: 0;
    }

    &:last-child {

      & > ul {
        left: auto;
        right: 0;
      }
    }
  }

  #{$fist-li--hover}, #{$fist-li}.hover {

    & > ul {

      @media (min-width: $bp-small) {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  #{$fist-li--active}, #{$fist-li--hover} {

    & > a, & > span {
      color: #ce5155;
      cursor: pointer;

      @media (min-width: $bp-small) {
        color: $color-white;
        background: transparent;
        //border-bottom: 4px solid $color-red;
      }

      &:before {
        opacity: 1;
      }
    }
  }

  #{$fist-a}, #{$fist-span} {
    color: $color-white;
    text-decoration: none;
    display: block;
    padding: 8px;
    font-size: 16px;
    transition: color .3s, background .3s, border .3s;
    font-family: $RobotoCondensed-Regular;
    position: relative;

    @media (min-width: $bp-small) {
      color: $color-white;
      display: inline-block;
      font-size: 13px;
     // padding: 4px 0 4px;
     // border-bottom: 4px solid transparent;
      z-index: 1;
      padding: 26px 10px;

    }

    @media (min-width: $bp-middle) {
      font-size: 14px;
      padding: 26px 22px;
    }

    &:before {
      @include pseudo-block($top: 0, $left: 0);
      width: 100%;
      height: 100%;
      background: linear-gradient( 185deg, rgb(29,43,65) 0%, rgb(49,70,104) 100%);
      z-index: -1;
      @include display(none, block);
      opacity: 0;
      transition: opacity .3s;
    }
  }

  #{$second-ul} {
    padding: 0 0 0 20px;
    margin: 5px 0;
    text-align: left;

    @media (min-width: $bp-small) {
      padding: 0;
      position: absolute;
      top: 100%;
      left: 0;
     // transform: translate(-50%, 0);
      width: 174px;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      backface-visibility: hidden;
      transition: opacity .3s;
      margin: 0;

      padding: 7px 0 0 0;
      background: #304566;

      box-shadow: 1px 1px 3px #121e32, -1px 1px 3px #121e32;
      border-radius: 0 0 5px 5px;
    }
  }

  #{$second-li} {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;

    &:first-child {

      & > a {

        @media (min-width: $bp-small) {
          padding-top: 16px;
        }
      }
    }

    &:last-child {

      & > a {

        @media (min-width: $bp-small) {
          padding-bottom: 16px;
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }

  #{$second-li--hover}, #{$second-li}.hover {

    & > ul {

      @media (min-width: $bp-small) {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  #{$second-li--active}, #{$second-li--hover} {

    & > a {
      color: #ce5155;

      @media (min-width: $bp-small) {
        color: $color-white;
        background: #304566;
      }
    }
  }

  #{$second-a} {
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: left;
    border: none;
    font-size: 14px;
    color: $color-white;
    font-family: $RobotoCondensed-Regular;

    @media (min-width: $bp-small) {
      //text-align: center;
      padding: 8px 17px;
      font-size: 14px;
      color: $color-white;
      background: $color-dark-blue;
    }
  }

  #{$third-ul} {
    margin: 5px 0;
    padding: 0 0 0 20px;

    @media (min-width: $bp-small) {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      left: 100%;
      width: 174px;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      backface-visibility: hidden;
      transition: opacity .3s;
    }
  }

  #{$third-li} {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
  }

  #{$third-li--active}, #{$third-li--hover} {

    & > a {
      color: #ce5155;

      @media (min-width: $bp-small) {
        color: $color-white;
        background: #304566;
      }
    }
  }

  #{$third-a} {
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: left;
    border: none;
    font-size: 10px;
    color: $color-white;

    @media (min-width: $bp-small) {
      text-align: center;
      padding: 10px 5px;
      font-size: 12px;
      color: $color-white;
      background: $color-dark-blue;
    }
  }

  &__navWrap {

    @media (max-width: $bp-small - 1) {
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s;
      backface-visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      margin: 0 !important;
    }

    @include sm-only {
      flex: 1;
    }

    @include xs-only {
      overflow-y: auto;
      height: calc(100vh - 84px);
      z-index: 1;
      background: #121e32;
      padding-bottom: 50px;
    }
  }

  &_mobileMenu {

    #{$this}__navWrap {

      @media (max-width: $bp-small - 1) {
        opacity: 1;
        visibility: visible;
      }
    }

    #{$this}__btn-mobile {

      &:after, &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 27px;
      }

      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      span {
        display: none;
      }
    }
  }

  &__search {

  }

  &__searchBtn {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('search-btn-img.png') no-repeat;
    background-size: contain;

    &:hover {
      opacity: .5;
    }
  }

  &__searchForm {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(0, -100%);
    transition: transform .3s;
    z-index: -1;
    width: 292px;

    .ajax-progress {
      display: none;
    }
  }

  &_searchOpen {

    #{$this}__searchForm {
      transform: translate(0, 0);
    }
  }
}
