# Ignore paths that contain user-generated content.
node_modules
.sass-cache
.idea
.DS_Store
trunk/web/slice
trunk/web/stats
trunk/web/sites/default/private
temp/

*.css.map
npm-debug.log
trunk/slice
trunk/slice-mobile
trunk/robots.txt
trunk_commerce/robots.txt
.DS_Store
trunk/.htaccess
package-lock.json
trunk/sites/default/files
trunk_commerce/sites/default/files
trunk/sites/default/settings.php
trunk_commerce/sites/default/settings.php

.docker/
docker-compose.yml
setup.sh
trunk/web/sites/default/settings.php.bak
trunk/web/themes/custom/senate/dist/images/tmp/seats-tmp-img-1-a-2x.png
trunk/web/themes/custom/senate/dist/images/tmp/seats-tmp-img-1-a.png