.bSearch {
  $this: &;

  &__btn {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('search-btn-img.png') no-repeat;
    background-size: contain;

    &:hover {
      opacity: .5;
    }
  }

  &__form {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(0, -100%);
    transition: transform .3s;
    z-index: -1;
  }

  &_active {

    #{$this}__form {
      transform: translate(0, 0);
    }
  }
}