.bColumns {

  &_2 {

    @include sm {
      column-count: 2;
      column-gap: 40px;
    }
  }

  a {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
  }

  &_linkOnly {

    a {
      display: block;
    }
  }
}