.bShare {
  display: flex;
  align-items: center;
  $this: &;

  & > * {

  }

  &__title, &__print a {
    font-family: $RobotoCondensed-LightItalic;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    color: #fff;
  }

  &__bSoc {
    display: flex;
    align-items: center;
    margin: 0 -5px;

    & > * {
      margin: 0 5px;
    }
  }

  &__print {

    a {
      white-space: nowrap;
      padding: 6px 15px 4px 15px;
      border-radius: 5px;

      &:hover {
        opacity: .7;
      }

      .ss-icon {
        margin-right: 5px;
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    &.bSoc_cl_b {
      a {
        &:hover,
        &:focus,
        &:focus-visible,
        &:focus-within {
          background: $color-dark-blue;
          color: $color-white;
          opacity: 1;
        }
      }
    }
  }

  &_cl {

    &_a {

      #{$this}__title,
      #{$this}__print a {
        color: #253857;
      }
    }
  }
}
