.sSen {
  $this: &;

  &__head {

  }

  &__res {
    @include padding(30px 0, 56px 0);
    position: relative;

    @keyframes rotate360 {
      to {
        transform: rotate(360deg);
      }
    }

    &:after {
      @include pseudo-block($top: 0, $left: 0);
      width: 100%;
      height: 100%;
      background: rgba($color-blue-1, 0.7);
      z-index: 10;
    }

    &:before {
      @include pseudo-block($top: 100px, $left: 50%);
      margin-left: -50px;
      width: 100px;
      height: 100px;
      background: url("circle05.png");
      background-size: 100% 100%;
      z-index: 11;
      animation: 1s rotate360 infinite linear;
    }

    &:before, &:after {
      display: none;
    }

    &_loading {

      &:before, &:after {
        display: block;
      }
    }
  }

  &__noRes {
    @include cr-last-child;
    @include padding(30px 0, 50px 0);

    h2 {
      @include font-size(25px, 30px, 45px);
    }
  }

  &__byAdd {
    background: $color-dark-blue-2;
    padding: 22px 0;
    text-align: center;
  }

  &__btnByAdd {
    display: inline-block;
    line-height: 1.2;
    background: $color-blue-3;
    color: $color-white;
    @include font-size(18px, 24px, 32px);
    font-family: $RobotoCondensed-Light;
    border: 1px solid #3e5376;
    border-radius: 5px;
    text-transform: capitalize;
    text-decoration: none;
    @include padding(10px 20px, 21px 32px);
    transition: background-color .3s;

    &:hover {
      background: $color-dark-blue;
    }

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      @include width(30px, 40px);
      @include height(44px, 55px);
      background: url('by-address-img-tmp.png') no-repeat;
      background-size: contain;
      margin-right: 18px;
    }
  }

  &__fil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    background: #dedede;

    @include sm {
      flex-wrap: nowrap;
    }
  }

  &__filCol {
    @include padding(10px, 42px 10px 25px);
    background: #dedede;
    text-align: center;
    @include cr-last-child;
    display: flex;
    flex-direction: column;
    min-height: 170px;
    max-width: 150px;
    min-width: 150px;

    @include sm {
      max-width: none;
      min-width: 0;
      flex: 1;
      min-height: 250px;
      border-right: 1px solid #cecece;
    }

    &:last-child {
      border-right: none;
      padding-bottom: 40px;

      @include sm {
        padding-bottom: 10px;
      }
    }
  }

  &__filIco {
    height: 60px;
    max-width: 100px;
    margin: 0 auto 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 100%;
      height: auto;
    }
  }

  &__filTitle, label {
    display: block;
    font-family: $RobotoCondensed-Regular;
    @include font-size(13px, 13px, 14px);
    color: $color-blue;
    text-transform: uppercase;
    margin: 0 0 12px;
    @include cr-last-child;
  }

  &__opt, .js-form-type-select {
    @include width(132px, 132px, 150px);
    @include margin(0 auto 10px, 0 auto 20px);

    .select2-container {
      width: 100%;
    }
  }

  &__filLink {
    margin-top: auto;

    a {
      font-family: $RobotoCondensed-Bold;
      font-size: 10px;
      color: $color-red;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        opacity: .5;
      }
    }
  }

  &__senShow {
    text-align: center;
    overflow: hidden;
    @include margin(0 0 30px, 0 0 50px);

    h4 {
      font-family: $RobotoCondensed-Light;
      font-size: 18px;
      color: $color-blue;
      margin: 0;
      padding: 0 8px;
      display: inline-block;
      position: relative;

      &:before, &:after {
        @include pseudo-block($top: 50%, $left: 100%);
        border-top: 1px solid #dedede;
        width: 100vw;
      }

      &:before {
        left: auto;
        right: 100%;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;

    @include sm {
      margin-right: -28px;
      margin-left: -28px;
    }
  }

  &__item {
    max-width: 140px;
    min-width: 140px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    text-align: center;

    @include sm {
      max-width: 196px;
      min-width: 196px;
      margin-right: 28px;
      margin-left: 28px;
      margin-bottom: 50px;
    }
  }

  &__sLink {
    text-decoration: none;
    display: block;

    &:hover {
      opacity: .7;
    }
  }

  &__sImgWrap {
    padding-bottom: 141%;
    position: relative;
    display: block;
    @include margin-bottom(7px, 10px);
  }

  &__sImg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    display: block;
  }

  &__sMask {
    position: absolute;
    right: -4px;
    top: -4px;
    font-family: $RobotoCondensed-Regular;
    font-size: 15px;
    text-transform: uppercase;
    color: $color-white;
    display: block;
    padding: 1px 8px;
    text-align: right;
    width: 34px;
    height: 34px;
    background: url('s-senators-img-mask-d.png') no-repeat;
    background-size: contain;

    &_r {
      background: url('s-senators-img-mask-r.png') no-repeat;
      background-size: contain;
    }

    &_d {
      background: url('s-senators-img-mask-d.png') no-repeat;
      background-size: contain;
    }
  }

  &__sDis {
    position: absolute;
    bottom: 0;
    left: -5px;
    right: -5px;
    display: block;
    background: $color-blue;
    text-transform: uppercase;
    font-family: $RobotoCondensed-Regular;
    font-size: 14px;
    border-radius: 5px;
    padding: 2px 0;
    color: $color-white;
  }

  &__sName {
    display: block;
    font-family: $RobotoCondensed-Regular;
    font-size: 15px;
    color: #1f2f4b;
  }

  &__filRes {
    padding: 50px 75px 66px;
    background: #dedede;
    text-align: center;

    .bContainer {
      position: relative;
    }

    #{$this}__filIco {
      margin-bottom: 34px;
    }

    h2 {
      font-family: $RobotoCondensed-Regular;
      @include font-size(18px, 24px, 32px);
      margin: 0;
      color: $color-blue;
      text-transform: uppercase;
    }
  }

  &__btnBack {
    position: absolute;
    top: -36px;
    left: -67px;

    @include sm {
      top: auto;
      bottom: 0;
      left: 0;
    }
  }


  input.ui-autocomplete {

    &-input {
      background: none;
    }
  }

  input.form-autocomplete.ui-autocomplete-loading {
    background: $color-white url('loader-1.gif') no-repeat 94% 50%;
  }
}