.sFooter {
  margin-top: auto;
  position: relative;
  background: $color-blue;
  @include padding-bottom(30px, 50px, 108px);
  color: $color-white;
  line-height: 1.2;
  $this: &;

  a[href^="tel"], a[href^="mailto"] {
    color: $color-white;
  }

  a[href^="mailto"] {
    text-decoration: underline;
    font-family: $FreightTextProLight-Regular;

    &:hover {
      text-decoration: none;
    }
  }

  a.btn{
    &:focus,
    &:focus-visible,
    &:focus-within {
      background: $color-dark-blue;
    }
  }

  &__logo {
    margin-right: auto;
  }

  &__top {
    padding: 15px 0;
    border-bottom: 2px solid $border-color;
    text-align: center;

    @include sm {
      padding: 30px 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: left;
    }
  }

  &__bottom {

    @include sm {
      display: flex;
    }
  }

  &__col {
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid $border-color;

    @include sm {
      padding: 0 50px;
      margin: 23px 0 0;
      border-bottom: none;
      border-right: 2px solid $border-color;
    }

    &:first-child, &:last-child {
      flex: 1;
    }

    &:last-child {
      border: none;
    }
    a {
      &:focus,
      &:focus-visible,
      &:focus-within{
        //owerwrite unique of global :focus effect, here it's higher contrast over blue bg
        background-color: $color-red;
      }
    }
  }

  &__address {
    text-align: center;
    font-family: $FreightTextProLight-Regular;
    line-height: 1.5;
    @include padding-top(0, 25px);
    @include margin-bottom(15px, 24px);

    &:before {
      content: '';
      display: block;
      margin: 0 auto 13px;
      width: 20px;
      height: 30px;
      background: url('address-bg-img-1.png') no-repeat;
      background-size: contain;
    }
  }

  &__note {
    margin-top: 10px;
    text-align: center;
    font-family: $FreightTextProLight-Regular;
    line-height: 1.5;
  }

  &__nav {
    @include padding-right($md: 55px);
    @include padding-top(0, 22px);

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;

      @include sm {
        text-align: left;
      }
    }

    li, a {
      font-family: $RobotoCondensed-Regular;
      font-size: 14px;
      color: $color-white;
    }

    li {
      padding: 0;
      margin-bottom: 14px;
      list-style: none;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      
        &:focus,
        &:focus-visible,
        &:focus-within{
          //owerwrite unique of global :focus effect, here it's higher contrast over blue bg
          background-color: $color-red;
        }

        &.is-active {
          color: $color-white;
        }
      }
    }
  }

  &__info {

    #{$this}__img {
      margin-right: 25px;
      margin-bottom: 10px;

      img {
        @include max-width(70px, none);
      }
    }

    h3 {
      font-family: $RobotoCondensed-Light;
      font-size: 24px;
      margin: 0 0 15px;
    }
  }
}