{#
/**
 * @file
 * Video popup
 *
 */
#}
<div class="modal fade modal_video" id="modal-video" tabindex="-1" role="dialog" aria-modal="true" aria-label="{{ 'Video dialog'|t }}" aria-hidden="true">
  <div class="modal__dialog modal__dialog_v-centered">
    <div class="modal__content">
      <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close video dialog">&times;</button>
      <div class="modal__body">
        <div class="bMedia">
          <div class="bMedia__wrap">
            <iframe title="{{ 'Video player'|t }}" id=""
                    width="560"
                    height="315"
                    src=""
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
