.senators {
  $this: &;

  &__items,
  &__item,
  &__img,
  &__name,
  &__position,
  &__imgWrap{
    display: block;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px -25px;
  }

  &__item {
    margin: 0 10px 25px;
    @include width(140px, 172px, 196px);
    text-align: center;
  }

  a#{$this}__item  {
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }
  }

  &__imgWrap {
    margin-bottom: 25px;
    padding-bottom: 141%;
    position: relative;
  }

  &__img {
    border-radius: 5px;
    overflow: hidden;
    @include stretch-block();
    background-size: cover;
    background-position: center;
  }

  &__name,
  &__position {
    color: $color-white;
    line-height: 1.2;
  }

  &__name {
    font-family: $RobotoCondensed-Light;
    font-size: 18px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 7px;

    &:before {
      @include pseudo-block($bottom: 0, $left: 50%);
      width: 90%;
      transform: translate(-50%, 0);
      border-bottom: 2px solid $color-red;
    }
  }

  &__position {
    font-family: $FreightTextProBook-Regular;
    font-size: 14px;
  }
}