.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;

  @include xs-only {
    background: $color-blue;
    padding: 7px 0;
  }

  &__link {
    text-decoration: none;
    @include padding(15px 10px, 15px 22px);
    display: inline-block;
    color: $color-white;
    @include font-size(12px, 14px);
    border-left: 1px solid $border-color;
    border-radius: 5px;
    font-family: $RobotoCondensed-LightItalic;

    &:first-child {
      border: none;
    }

    &:hover {
      background: $color-dark-blue;
    }

    &_live {

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        background: $color-red;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}