.navLinks {
  display: flex;
  align-items: center;
  line-height: 1.2;

  &__link {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: $color-white;
    font-size: 14px;
    border-left: 1px solid $border-color;
    border-radius: 5px;

    &:first-child {
      border: none;
    }

    &:hover {
      background: $color-dark-blue;
    }

    &_live {

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        background: $color-red;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}