.pageWr {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 83px;

  @include sm {
    padding-top: 152px;
  }

  @include md {
    padding-top: 152px;
  }

  .path-search & {
    background: #f0f0f0;
  }
}