.link {
  font-family: $RobotoCondensed-Bold;
  color: $color-red;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  backface-visibility: hidden;
  display: inline-block;

  &:hover {
    opacity: .7;
  }

  &_cl {

    &_a {
      color: $color-white;
    }

    &_b {
      color: $color-red;
    }

    &_c {
      color: $color-blue;
    }
  }

  &_back {
    top: 1px;
    position: relative;
    white-space: nowrap;
    padding: 8px;
    margin-right: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 9px;
      height: 9px;
      border: 2px solid currentColor;
      border-right: none;
      border-top: none;
      transform: rotate(45deg);
      margin-right: 4px;
      margin-top: -2px;
      transition: .3s;
    }
  }

  &_to {
    top: 1px;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 9px;
      height: 9px;
      border: 2px solid currentColor;
      border-right: none;
      border-top: none;
      transform: rotate(-135deg);
      margin-left: 4px;
      margin-top: -2px;
      transition: .3s;
    }
  }
}