.bWrap {
  margin-left: auto;
  margin-right: auto;
  @include cr-last-child;

  &_size {

    &_a {
      max-width: 620px;
    }

    &_b {
      max-width: 746px;
    }
  }

  &_indent {

    &_a {

    }
  }

  &_padding {

    &_a {

    }
  }

  &_centered, &_cen {
    text-align: center;
  }

  &_cl {

    &_a {
      color: #404040;
    }
  }

  &_f {

    &_a {
      font-family: $FreightTextProMedium-Regular;
      line-height: 1.6;
    }
  }
}