.bWrap {
  margin-left: auto;
  margin-right: auto;
  @include cr-last-child;

  &_size {

    &_a {
      max-width: 620px;
    }

    &_b {
      max-width: 746px;
    }

    &_c {
      max-width: 350px;
    }

    &_d {
      max-width: 580px;
    }
  }

  &_indent {

    &_a {

    }
  }

  &_padding {

    &_a {

    }
  }

  &_centered, &_cen {
    text-align: center;
  }

  &_cl {

    &_a {
      color: #404040;
    }

    &_b {
      color: #777777;
    }
  }

  &_f {

    &_a {
      font-family: $FreightTextProMedium-Regular;
      line-height: 2;

      strong {
        font-family: $FreightTextProBold-Regular;
      }

      &_15 {
        line-height: 1.5;
      }

      &_16 {
        line-height: 1.6;
      }

      &_17 {
        line-height: 1.7;
      }
    }
  }

  &_gap {

    &_a {
      @include margin-bottom(30px, 77px);
    }

    &_b {
      @include margin-bottom(30px, 50px);
    }

    &_c {
      @include margin-bottom(20px);
    }

    &_d {
      @include margin-bottom(40px);
    }
  }
}