.btn, .form-submit  {
  color: $color-white;
  transition: .3s;
  font-family: $RobotoCondensed-Regular;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  z-index: 1;
  text-align: center;
  border: none;
  background: $color-red;
  cursor: pointer;
  display: inline-block;
  @include font-size(12px, 14px);
  @include padding(10px 15px, 11px 26px);
  border-radius: 5px !important;
  text-transform: uppercase;

  &:hover {
    background: $color-blue;
  }

  &_a {
    border: 1px solid $color-red;
    background: $color-white;
    color: $color-red;
    font-size: 10px;
    font-family: $RobotoCondensed-Bold;
    padding: 7px 10px;

    &:hover {
      background: $color-red;
      color: $color-white;
    }
  }

}