.bListItems {
  max-width: 634px;
  margin: 0 auto;
  $this: &;

  &_gap {

    &_a {
      @include margin-bottom(30px, 50px, 70px);
    }
  }

  &__items {

  }

  &__item {
    background: #ffffff;
    border: 1px solid #cbcbcb;
    border-bottom: none;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    font-family: $Roboto-Bold;
    color: $color-blue-3;

    @include sm {
      border-width: 2px;
    }

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
      border-bottom: 1px solid #cbcbcb;

      @include sm {
        border-width: 2px;
      }
    }

    &:first-child:last-child  {
      border-radius: 5px;
    }
  }

  &__title {
    flex: 1;
    padding: 0 10px;
    min-width: 30%;

    a {
      font-family: $Roboto-Bold;
      color: $color-blue-3;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__sub {
    font-family: $Roboto-Regular;
    font-size: 14px;
    color: $color-blue;
    display: block;

    &_a {
      font-family: $Roboto-Italic;
      font-size: 14px;
      display: inline-block;
      margin-right: 10px;
    }
  }

  &__btnWr {
    text-align: right;
  }

  &__btn {
    min-width: 100px;
    text-align: center;
    display: inline-block;
    padding: 6px 5px;
    text-decoration: none;
    border: 1px solid #cbcbcb;
    font-family: $RobotoCondensed-Regular;
    color: $color-blue-3;
    text-transform: uppercase;
    border-radius: 5px;

    @include sm {
      min-width: 164px;
      border-width: 2px;
    }

    &:hover {
      background: $color-blue;
      color: $color-white;
    }
  }

  &_a {
    max-width: 686px;

    #{$this}__item {
      padding: 15px 28px 17px 8px;
    }

    #{$this}__sub {
      font-family: $Roboto-Italic;
      font-size: 14px;
      display: inline-block;
      margin-right: 10px;
    }
  }

  &_gap {

    &_a {
      @include margin-bottom(30px, 50px);
    }
  }
}