@import "../bContainer/bContainer";
.pageIn {
  $this: &;

  .path-search & {
    @include padding(30px 0, 58px 0);

    h2 {
      margin: 0 0 30px;
    }

    .item-list {
      margin: 0 0 30px;
    }

    @extend .bContainer;
  }

  .page-authorization & {

    & > #block-senate-content > article {
      display: flex;
      flex-direction: column;
      min-height: 100vh;

      .section {
        flex: 1;
        min-height: 100px;

        &.sFinder {
          flex: 0;
        }
      }
    }

    #user-login-form {
      margin: 0 auto;

      .form-item {
        position: relative;
      }
    }
  }

  &__ico {
    text-align: center;
    margin-bottom: 12px;
    @include cr-last-child;

    &_a {
      margin-bottom: 20px;
    }

    &_b {
      margin-bottom: 30px;
    }
  }

  &__btnAllWrap {
    text-align: center;
    @include margin-top(30px, 50px);
  }

  &__btnWr {
    text-align: center;

    &_gap {

      &_a {
        @include margin-bottom(40px, 50px, 77px);
      }

      &_b {
        @include margin-bottom(25px, 35px, 44px);
      }
    }
  }

  &__pCols {


    @include sm {
      display: flex;
      margin-left: -30px;
      margin-right: -30px;
    }

    @include md {
      margin-left: -54px;
      margin-right: -54px;
    }

    & > * {


      @include sm {
        margin-left: 30px;
        margin-right: 30px;
      }

      @include md {
        margin-left: 54px;
        margin-right: 54px;
      }
    }
  }

  &__main {

    @include sm {
      flex: 1;
    }
  }

  &__bSidebar {

    @include sm {
      order: 1;
    }
  }

  &__notice {


    &_a {
      text-align: center;
      max-width: 260px;
      margin: 0 auto 32px;

      @include sm {
        max-width: none;
        margin: 0 0 32px;
      }

      #{$this}__notice-m {
        padding: 12px 15px;
        border-right: 1px solid #cbcbcb;
        display: inline-block;
        position: relative;
        font-family: $FreightTextProMedium-Regular;
        font-size: 14px;
        line-height: 1.2;

        &:after {
          @include pseudo-block($top: 0, $left: -10px, $right: 0);
          border-top: 1px solid #cbcbcb;
        }

        &:before {
          @include pseudo-block($bottom: 0, $left: 5px, $right: 0);
          border-bottom: 1px solid #cbcbcb;
        }

        p {
          margin-bottom: 0;
        }
      }

      #{$this}__notice-ico {
        position: absolute;
        left: -32px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }

  &__info {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    padding: 33px;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    font-family: $FreightTextProMedium-Regular;
    color: #404040;
    @include cr-last-child;

    a[href^="tel"] {
      text-decoration: none;
    }

    strong {
      font-family: $FreightTextProBold-Regular;
    }

    h3 {
      font-family: $FreightTextProMedium-Regular;
      font-size: 24px;
      color: #404040;
      margin: 0 0 1px;
    }

    &It {
      margin-bottom: 8px;
    }

    &_gap {

      &_a {
        @include margin-bottom(30px, 56px);
      }
    }

    &_cent {
      text-align: center;
    }

    &_a {
      line-height: 1.6;
      max-width: 300px;
    }
  }

  &__noRes {
    @include cr-last-child;
    @include padding(100px 0, 50px 0);

    h2 {
      @include font-size(25px, 30px, 45px);
    }

    &_a {
      @include padding(20px 0);

      h2 {
        @include font-size(20px, 26px, 30px);
        font-family: $RobotoCondensed-LightItalic;
        color: grey;
      }
    }
  }

  &__loader {
    text-align: center;
    margin: 20px 0;

    .ajax-progress {
      display: inline-block;
      margin: 0;
      position: relative;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
    }

    .loader {
      position: relative;
      height: 75px;

      &_circle {

        @keyframes rotate360 {
          to {
            transform: rotate(360deg);
          }
        }

        &:before {
          @include pseudo-block($top: 0, $left: 50%);
          width: 70px;
          height: 70px;
          margin-left: -35px;
          background: url("loader-1-a.png");
          background-size: contain;
          z-index: 11;
          animation: .7s rotate360 infinite linear;
        }
      }
    }
  }

  &_cl {

    &_a {
      color: #639e3b;
    }

    &_b {
      color: #912f2f;
    }

    &_c {
      color: $color-red;
    }
  }
}