.pager {
  
  a {
    color: #bababa;
  }

  &__items {
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    font-family: $Roboto-Italic;
    margin: 0 4px;
    padding: 0;
    list-style: none;

    &.is-active, &:hover {

      a {
        color: $color-blue-3;
      }
    }

    &--previous, &--next, &--first, &--last {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        &:before, &:after {
          content: '';
          display: block;
          width: 9px;
          height: 9px;
          border: 2px solid #bababa;
          border-top: none;
          border-right: none;
          transform: rotate(45deg);
          transition: border .3s;
        }

        &:after {
          margin-left: -2px;
        }

        &:hover {

          &:before, &:after {
            border-color: $color-blue-3;
          }
        }
      }

      span {
        @include text-hide();
      }

    }

    &--previous, &--next {

      a:after {
        display: none;
      }
    }

    &--next, &--last {

      a {

        &:before, &:after {
          transform: rotate(225deg);
        }
      }
    }

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        transition: all .3s;
      }
    }
  }


}