.bSelect {

  &_a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;

    & > * {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
    }

    .select2-container {

      &.select2-container--default .select2-selection--single {
        border: 1px solid $color-dark-blue;
        transition: background-color .1s, border .1s;
      }

      &.select2-container--default:not(.select2-container--open) .select2-selection--single {
        background: $color-dark-blue;
      }

      .select2-selection--single .select2-selection__rendered {
        padding: 17px 36px 17px 25px;
      }

      .select2-selection--single .select2-selection__arrow {
        right: 8px;
      }
    }
  }

  &_size {

    &_a {

      .select2-container {
        margin: 0 auto;
        @include width(280px, 348px);
      }
    }

    &_b {

      .select2-container {
        width: 162px;
        margin: 0 auto;
      }
    }
  }

  &_gap {

    &_a {
      @include margin-bottom(10px, 33px);
    }

    &_b {
      @include margin-bottom(10px, 30px);
    }

  }
}