.bSelect {

  &__item {

    &_right {
      margin-left: auto;
    }
  }

  &_a {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;

    & > * {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      margin-top: 0;
      @include cr-last-item;
    }

    .select2-container {

      &.select2-container--default .select2-selection--single {
        border: 1px solid $color-dark-blue;
        transition: background-color .1s, border .1s;
      }

      &.select2-container--default:not(.select2-container--open) .select2-selection--single {
        background: $color-dark-blue;
      }

      .select2-selection--single .select2-selection__rendered {
        padding: 17px 36px 17px 18px;
      }

      .select2-selection--single .select2-selection__arrow {
        right: 8px;

        b {
          border-width: 2px;
        }
      }
    }
  }

  &_inline {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;

    & > * {
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
      margin-top: 0;
      @include cr-last-item;
    }
  }

  &_filter {

    &.views-exposed-form {

      .form-actions {
        display: none;
      }
    }

    label {
      font-family: $RobotoCondensed-LightItalic;
      font-size: 14px;
      color: #686868;
      margin-right: 10px;
      display: inline-block;
    }

    &_a {

      label {
        font-family: $RobotoCondensed-Regular;
        font-size: 12px;
        color: #808080;
        margin-right: 18px;
        display: inline-block;
      }
    }
  }

  &_date {

    .form-item-date {
      width: 303px;
      padding-left: 55px;


      &:before {
        @include pseudo-block($left: 0, $top: 50%);
        transform: translate(0, -50%);
        width: 45px;
        height: 42px;
        background: url("img/ico-tmp-7-2x.png") no-repeat;
        background-size: contain;
      }

      input:not([type=submit]):not([type=checkbox]):not([type=radio]) {
        background: #121e32;
        color: $color-white;
        @include input-placeholder($color-white);
        cursor: pointer;
      }

      &:after {
        @include pseudo-block($top: 50%, $right: 23px);
        width: 8px;
        height: 8px;
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        margin-top: -6px;
      }

      &.open {


        input:not([type=submit]):not([type=checkbox]):not([type=radio]) {
          background: #253857;
          cursor: auto;
        }

        &:after {
          border: 2px solid #fff;
          border-bottom: none;
          border-left: none;
          margin-top: -3px;
        }
      }
    }
  }

  &_size {

    &_a {

      .select2-container {
        margin: 0 auto;
        @include width(280px, 348px);
      }
    }

    //&_b {
    //
    //  .select2-container {
    //    width: 162px;
    //    margin: 0 auto;
    //  }
    //}

    &_b {

      .select2-container {
        width: 190px;
        margin: 0 auto;
      }
    }

    &_c {

      .select2-container {
        width: 350px;
        margin: 0 auto;
      }
    }

    &_d {

      .select2-container {
        width: 162px;
        margin: 0 auto;
      }
    }

    &_f {

      .select2-container {
        width: 120px;
        margin: 0 auto;
      }
    }
  }

  &_gap {

    &_a {
      @include margin-bottom(10px, 33px);
    }

    &_b {
      @include margin-bottom(10px, 30px);
    }

    &_c {
      @include margin-bottom(10px, 20px);
    }

  }
}

.ui-datepicker {

  .ui-widget-header,
  .ui-datepicker-year,
  &.ui-widget-content {
    color: #253857;
  }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  color: #253857;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: $color-red;
  color: $color-white;
  border: 1px solid #c5c5c5;
}