.bTb {
  display: table;
  width: 100%;
  max-width: 636px;
  margin: 0 auto;
  $this: &;

  &__tHead {
    display: table-header-group;
  }

  &__tBody {
    display: table-row-group;
  }

  &__tr {
    display: table-row;
    border: 1px solid #cbcbcb;

    &:first-child {

      #{$this}__td {
        border-top: 1px solid #cbcbcb;

        &:first-child {
          border-top-left-radius: 5px;
        }

        &:last-child {
          border-top-right-radius: 5px;
        }
      }
    }

    &:last-child {

      #{$this}__td {

        &:first-child {
          border-bottom-left-radius: 5px;
        }

        &:last-child {
          border-bottom-right-radius: 5px;
        }
      }
    }
  }

  &__th {
    font-family: $RobotoCondensed-Regular;
    color: #808080;
    font-size: 12px;
    text-transform: uppercase;
    display: table-cell;
    padding: 10px 10px;
  }

  &__td {
    display: table-cell;
    padding: 22px 10px 18px;
    background: $color-white;
    border-bottom: 1px solid #cbcbcb;
    font-family: $Roboto-Regular;
    color: $color-blue;
    font-size: 14px;
    line-height: 1.27;

    &:first-child {
      border-left: 1px solid #cbcbcb;
    }

    &:last-child {
      border-right: 1px solid #cbcbcb;
    }

    strong {
      font-family: $Roboto-Bold;
    }
  }

  &_a {

    #{$this}__td, #{$this}__th {

      &:first-child {
        width: 90px;
        padding-left: 16px;
      }

      &:last-child {
        vertical-align: middle;
      }
    }
  }
}