@media print {

  @page {
    size: auto;
    margin: 5mm;
  }

  html, body {
    height: auto !important;
    width: auto !important;
    min-width: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
  }

  h1 {
    color: $color-dark-blue !important;
  }

  .pageWr {
    padding: 0 !important;
  }

  .section {
    min-height: auto !important;
    padding: 5pt 0 !important;

    &__sNav {
      display: none !important;
    }

    &__v-inner {
      min-height: auto !important;
    }
  }

  .sHeader {
    display: none !important;
  }

  .sFooter {
    display: none !important;
  }

  .bSort {
    display: none !important;
  }

  .bSoc {
    display: none !important;
  }

  [class$='__items'],
  [class$='__its'],
  .bListLinks__links {
    position: relative !important;
    display: block !important;

    margin: 0 !important;
  }

  [class$='__item']:not(.bTerms__it):not(.bStaff__it),
  [class$='__it']:not(.bDateList__item),
  .bListLinks__link {
    display: inline-block !important;
    vertical-align: text-top;
    page-break-inside: avoid;
    position: relative !important;

    margin: 0 2px !important;
  }

  .senators__img,
  .bTiles__img,
  .bNews__imgWrap,
  .bSenBio__imgWrap,
  .sSen__sImgWrap,
  .sSen__sImg,
  .sSen__sMask,
  .sSen__sDis,
  .sSen__sName {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .messages,
  .bAudio,
  .pager,
  .bTiles_nav,
  .bSelect,
  .bTerms__filTitle,
  .bNews__readMore,
  .bDistrict h2 a ,
  .bMedia,
  .bSenBio__mail,
  .bSenBio__mediaBtn,
  .sSen__head,
  .bSenBio__soc {
    display: none !important;
  }

  .bListLinks__link, .bListItems__item, .bSchedule__item {
    width: 100% !important;
    display: block !important;
  }

  .bTiles_rel_c .bTiles__items,
  .bListItems__item {
    text-align: center !important;
  }

  .bTiles_rel_c .bTiles__item {
    max-width: 48% !important;
    min-width: 48% !important;
  }

  .sSen__items {
    text-align: center;
  }

  .contextual {
    display: none !important;
  }

  .bNews {

    h2 {
      page-break-before: always;
    }
  }

  .bHist__desc,
  .bHist__date,
  .bTitle_b h2 {
    color: $color-dark-blue !important;
  }

  .bSenBio__info {
    text-align: center !important;

    strong {
      display: block;
    }
  }

  .sSen__item {
    padding-top: 10px;
  }

  .bHide {

    &:after, &__moreWr {
      display: none;
    }
  }

  .bHide__cont {
    max-height: none;
    overflow: visible;
  }

  .bSenBio__con {
    display: inline-block !important;
  }

  .bSenBio__col, .bNews__items {
    text-align: center !important;
  }

  .bSenBio__address {

    &:before {
      display: none;
    }
  }

  .btn, .form {
    display: none !important;
  }

  .bTerms__moreWr {
    display: none !important;
  }

  .bTiles__item, .section__v-inner {
    min-height: auto !important;
    padding: 7pt 3pt !important;
  }

  .pageIn__ico {
    display: none;
  }

  .bAudio__au {
    display: none;
  }

  #toolbar-administration {
    display: none !important;
  }

  #block-senate-local-tasks {
    display: none !important;
  }

  .section__btnBack {
    display: none !important;
  }

  .bShare {
    display: none !important;
  }

}