.bTerms {

  $this: &;

  &__fil {
    margin: 0 0 30px;
    line-height: 1.2;

    @include sm {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 48px;
    }

    &Title {
      font-family: $RobotoCondensed-Regular;
      font-size: 14px;
      color: #808080;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;

      @include sm {
        margin: 0 25px 0 0;
      }
    }

    &Letters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-family: $Roboto-Bold;
      font-size: 14px;
      color: $color-blue;
      text-transform: uppercase;
      margin: 0;

      & > * {
        margin: 0;

        @include sm {
          margin: 0;
        }
      }

      a {
        align-items: center;
        border-radius: 5px;
        display: flex;
        height: 32px;
        justify-content: center;
        text-decoration: none;
        width: 32px;

        &:hover,
        &:focus,
        &:focus-visible,
        &:focus-within,
        &#{$this}__let_active {
          background: $color-blue;
          color: $color-white;
        }

        &#{$this}__let_disabled {
          opacity: .4;
          color: $color-gray-3;
          pointer-events: none;
        }
      }
    }
  }

  &__itsWr {
    max-width: 634px;
    margin: 0 auto;
  }

  &__its {
    padding: 0 12px;
  }

  &__it {
    margin: 0 0 20px;
    @include cr-last-child;
    display: none;

    &_active {
      display: none;

      &_show {
        display: block;
      }

      #{$this}_open & {
        display: block;
      }
    }
  }

  &__bTitle {
    font-family: $FreightTextProMedium-Regular;
    font-size: 24px;
    color: $color-blue;
    margin: 0 0 0;
  }

  &__bBody {
    @include cr-last-child;
    color: $color-gray-4;
    font-family: $FreightTextProMedium-Regular;
    font-size: 14px;
    padding: 0 0 0 35px;
    margin: 0 0 30px;
    line-height: 1.7;
  }

  &__bSub {
    padding: 0 0 0 10px;
    border-left: 1px solid #d6d6d6;

    #{$this}__bTitle {
      font-size: 18px;
      margin-bottom: 7px;
    }
  }

  &__subIt {
    padding-left: 22px;
    margin-bottom: 26px;
    @include cr-last-child;
  }

  &__moreWr {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: none;

    #{$this}_showMore & {
      display: block;
    }
  }

  &__more {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*background: $color-white;*/
    display: inline-block;
    padding: 10px 22px;
    border: 1px solid $color-red;
    border-radius: 21px;
    position: relative;
    font-family: $RobotoCondensed-Bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-red;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
      background: $color-red;
      color: $color-white;
    }

    &:before, &:after {
      @include pseudo-block($top: 50%, $left: 100%);
      border-bottom: 1px solid $color-red;
      width: 100vw;
    }

    &:after {
      left: auto;
      right: 100%;
    }
  }

  &__moreOpen, &__moreClose {
    pointer-events: none;
    position: relative;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 9px;
      height: 9px;
      margin-left: 10px;
      border: 2px solid currentColor;
      border-top: none;
      border-right: none;
      margin-top: -5px;
      transform: rotate(-45deg);
      transition: .3s;
    }
  }

  &__moreOpen {

    &:after {
      margin-top: 2px;
      transform: rotate(135deg);
    }
  }

  &__moreClose {
    display: none;
  }

  &_open {

    #{$this}__moreClose {
      display: inline-block;
    }

    #{$this}__moreOpen {
      display: none;
    }
  }
}
