.bTitle {

  &_a {

    h2 {
      font-family: $RobotoCondensed-Regular;
      line-height: 1.2;
      color: $color-white;
      @include font-size(65px);
      margin: 0;
      text-align: center;
      text-shadow: 0 2px 0 rgba(35, 43, 51, 0.63);
    }
  }

  &_line {

    h1, h2, h3 {

      font-family: $RobotoCondensed-Regular;
      @include font-size(65px);
      @include margin(0 0 20px);
      color: $color-white;
      text-align: center;
      line-height: 1.2;

      span {
        position: relative;
        display: inline-block;

        &:before {
          @include pseudo-block($bottom: 0, $left: 0);
          border-bottom: 4px solid $color-red;
          width: 88%;
        }
      }
    }
  }
}