.bTitle {

  &_a {

    h2 {
      font-family: $FreightTextProSemibold-Regular;
      line-height: 1.2;
      color: $color-white;
      @include font-size(37px, 65px);
      margin: 0;
      text-align: center;
      text-shadow: 0 2px 0 rgba(35, 43, 51, 0.63);
    }
  }

  &_b {
    @include cr-last-child;
    @include margin-bottom(16px, 20px);

    h1, h2, h3 {
      font-family: $FreightTextProBook-Italic;
      @include font-size(37px, 65px);
      @include margin(0 0 20px);
      color: $color-white;
      text-align: center;
      line-height: 1;
    }
  }

  &_line {

    h1, h2, h3 {

      span {
        position: relative;
        display: inline-block;
        padding-bottom: 2px;

        &:before {
          @include pseudo-block($bottom: 0, $left: 0);
          border-bottom: 4px solid $color-red;
          width: 78%;
        }
      }
    }

    &_a {

      h1, h2, h3 {

        span {

          &:before {
            width: 85%;
          }
        }
      }
    }
  }

  &__sub {
    font-family: $FreightTextProMedium-Regular;
    font-size: 14px;
    text-align: center;
    @include cr-last-child;
    //color: #404040;

    &_a {
      font-family: $FreightTextProBook-Regular;
      font-size: 18px;
      color: $color-blue;
    }

    &_b {
      color: #404040;
    }

    &_c {
      font-family: $FreightTextProBook-Regular;
      font-size: 18px;
      color: #777777;

      br {
        @include display(none, block);
      }
    }
  }

  &_wSub {

    &_a {
      @include cr-last-child;

      h1, h2 {
        margin: 0 0 6px;
      }
    }

    &_b {
      @include cr-last-child;

      h1, h2 {
        margin: 0 0 28px;
      }

      br {
        @include display(none, block);
      }
    }
  }

  &_gap {

    &_a {
      @include cr-last-child;
      margin-bottom: 15px;
    }

    &_b {
      @include cr-last-child;
      @include margin-bottom(20px, 30px);
    }

    &_c {
      @include cr-last-child;
      @include margin-bottom(30px, 50px);
    }

    &_d {
      @include cr-last-child;
      @include margin-bottom(30px, 50px, 84px);
    }

    &_f {
      @include cr-last-child;
      @include margin-bottom(35px, 63px);
    }
  }
}