.sHero {

  .bContainer {
    text-align: center;
    color: $color-white;
  }

  &__img {
    max-width: 88px;
    margin: 0 auto 20px;
  }

  &__title {
    position: relative;

    h1 {
      font-family: $FreightTextProBook-Italic;
      @include font-size(65px);
      @include margin(0 0 20px);
      color: $color-white;
      text-align: center;
      line-height: 1.2;

      span {
        position: relative;

        &:before {
          @include pseudo-block($bottom: 0, $left: 0);
          border-bottom: 4px solid $color-red;
          width: 135px;
        }
      }
    }
  }
  
  &__desc {
    @include cr-last-child();
    font-family: $FreightTextProMedium-Regular;
  }

}