.sHero {

  .bContainer {
    text-align: center;
    color: $color-white;
  }

  &__img {
    max-width: 88px;
    margin: 0 auto 7px;
  }

  &__bTitle {
    @include margin-bottom(20px, 27px);
  }

  &__desc {
    @include cr-last-child();
    font-family: $FreightTextProMedium-Regular;
  }

}