.bSeats {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &:before {
    @include pseudo-block($top: 100px, $left: 50%);
    transform: translate(-50%, 0);
    width: 1292px;
    height: 706px;
    background: url("bSeats-img-tmp-1.jpg") no-repeat;
    background-size: contain;
    z-index: -1;

    @include sm {
      top: 210px;
    }
  }

  &__img {
    text-align: center;
    position: relative;
    margin-bottom: 21px;
  }

  &__cap {
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translate(-50%, 0);
    color: #1f2f4b;
    font-family: $RobotoCondensed-Light;
    text-align: center;
    @include font-size(22px, 28px, 32px);
    line-height: 1;

    span {
      display: block;
      font-family: $RobotoCondensed-Bold;
      @include font-size(40px, 50px, 60px);
    }
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 47px;

    & > * {
      margin-right: 15px;
      margin-left: 15px;

      @include sm {
        margin-right: 29px;
        margin-left: 29px;
      }
    }

    &D, &R, &V {
      font-family: $RobotoCondensed-Light;
      text-align: center;
      @include font-size(22px, 28px, 32px);
      color: #5170a2;
      line-height: 1;

      span {
        display: block;
        font-family: $RobotoCondensed-Bold;
        @include font-size(100px, 130px, 146px);
        margin-bottom: -6px;
      }
    }

    &R {
      color: #e13129;
    }

    &V {
      color: #000;
    }
  }

  &_gap {

    &_a {
      margin-bottom: 48px;
    }
  }
}