.bMessage {
  background: $color-red;
  color: $color-white;
  font-family: $Roboto-Regular;
  font-size: 12px;
  text-align: center;
  position: relative;

  .bContainer {
    @include cr-last-child;
    padding: 23px 0;

    a {
      color: $color-white;
      font-family: $Roboto-Regular;
      font-size: 12px;
    }
  }

  &__close {
    position: absolute;
    right: 30px;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(0, -50%);
    transition: opacity .3s;

    &:hover {
     opacity: .5;
    }

    &:before, &:after {
      @include pseudo-block($left: 50%, $top: 50%);
      width: 11px;
      height: 2px;
      background: #FFFFFF;
      top: calc(50% - 1px);
      transition: background .3s;
      margin-left: -7px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}