.bSoc {
  $self: &;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: $RobotoCondensed-Regular;
  justify-content: center;

  @include sm {
    justify-content: normal;
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 7px;
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {

      a:before {
        background: url('facebool-soc-img-1.png') no-repeat;
        background-size: contain;
      }
    }

    &:nth-child(2) {

      a:before {
        background: url('twitter-soc-img-2.png') no-repeat;
        background-size: contain;
      }
    }

    &:nth-child(3) {

      a:before {
        background: url('insta-img-soc-3.png') no-repeat;
        background-size: contain;
      }
    }
  }

  a {
    color: $color-dark-blue;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 14px 6px 5px;
    font-family: $RobotoCondensed-Regular;
    border: 1px solid $color-dark-blue;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
    min-width: 94px;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
  }

  &__ico {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    color: $color-dark-blue;

    &:hover {
      color: $color-dark-blue;
    }
  }
}