.bSoc {
  $self: &;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: $RobotoCondensed-Regular;
  justify-content: center;

  @include sm {
    justify-content: normal;
  }

  &__items {
    display: flex;
    align-items: center;

    @include xs-only {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    padding: 6px 9px;
    transition: opacity .3s;
    white-space: nowrap;

    @include xs-only {
      margin: 0 4px 7px !important;
    }

    &:hover {
      opacity: .7;
    }

    &:focus
      &:focus-visible,
      &:focus-within {
      background: #121e32;
      border-radius: 5px;
    }

    &:last-child {
      margin-right: 0;
    }

    &_facebook, &_twitter, &_instagram, &_linkedin {

      a:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin-right: 4px;
      }
    }

    &_facebook {

      a:before {
        background: url('facebool-soc-img-1.png') no-repeat;
        background-size: contain;
      }
    }

    &_twitter {

      a:before {
        background: url('twitter-soc-img-2.png') no-repeat;
        background-size: contain;
      }
    }

    &_instagram {

      a:before {
        background: url('insta-img-soc-3.png') no-repeat;
        background-size: contain;
      }
    }

    &_linkedin {

      a:before {
        background: url('linkedin-img-soc-4.png') no-repeat;
        background-size: contain;
      }
    }

    span[st_url] {
      cursor: pointer;
      transition: opacity .3s;

      &:hover {
        opacity: .7;
      }
    }
  }

  a {
    color: $color-dark-blue;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 14px 6px 5px;
    font-family: $RobotoCondensed-Regular;
    border: 1px solid $color-dark-blue;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
    min-width: 94px;
    position: relative;

    //&:before {
    //  content: '';
    //  display: inline-block;
    //  vertical-align: middle;
    //  width: 24px;
    //  height: 24px;
    //  margin-right: 4px;
    //}
  }

  &__ico {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    color: $color-dark-blue;

    &:hover {
      color: $color-dark-blue;
    }
  }

  &_min {

    #{$self}__item {
      margin-right: 9px;

      a {
        border: none;
        min-width: 0;
        border-radius: 0;
        padding: 0;

        &:before {
          display: none;
        }
      }
    }

    &_a {

      #{$self}__item {

        a {

          &:before {
            display: inline-block;
          }
        }
      }

      #{$self}__ico {
        font-size: 18px;
      }
    }

    &_share {

      #{$self}__item {
        margin-right: 9px;
        margin-bottom: 0 !important;

        @include sm {

        }

        a {

          &:before {
            display: inline-block;
          }
        }
      }

      #{$self}__ico {
        font-size: 12px;
      }
    }
  }

  &._style  {

    &_simple {

      #{$self}__ico, a {
        min-width: auto;
        padding: 0;
        border: none;
        border-radius: 0;
      }
    }
  }

  &._size{

    &_a {

      #{$self}__ico, a {
        @include font-size(29px, 25px, 29px);
        padding-top: 8px;
      }
    }
  }

  &._ind {

    &_a {

      #{$self}__item {
        margin-left: 14px !important;
        margin-right: 14px !important;
      }
    }
  }

  &._layout {

    &_a {

      #{$self}__items {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  &._color {

    &_white {

      a, span {
        color: #fff;
        cursor: pointer;

        &:hover {
          color: #fff;
          opacity: .7;
        }
      }
    }
  }

  &_cl {

    &_a {

      a, span {
        color: #fff;
        cursor: pointer;

        &:hover {
          color: #fff;
          opacity: .7;
        }
      }
    }

    &_b {

      a, span  {
        color: #253857;
        cursor: pointer;

        &:hover {
          color: #253857;
          opacity: .7;
        }
      }
    }
  }
}