$fonts:
RobotoCondensed-Regular,
RobotoCondensed-Bold,
RobotoCondensed-Light,
RobotoCondensed-LightItalic,
FreightTextProBold-Regular,
FreightTextProMedium-Italic,
FreightTextProBook-Italic,
FreightTextProBook-Regular,
FreightTextProBlack-Regular,
FreightTextProSemibold-Italic,
FreightTextProLight-Italic,
FreightTextProBlack-Italic,
FreightTextProLight-Regular,
FreightTextProBold-Italic,
FreightTextProMedium-Regular,
FreightTextProSemibold-Regular;

@each $font in $fonts {
  @font-face {
    font-family: '#{$font}';
    src: url('../fonts/#{$font}.woff2') format('woff2'),
    url('../fonts/#{$font}.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
}