html, body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;

  @media (min-width: 320px) {
    height: 100%;
  }

  @media (min-width: 375px) {
    height: 100%;
  }
}

body {
  min-height: 100%;
  height: 100%;
  @include font-size(12px, 14px);
  line-height: 1.4;
  font-family: $RobotoCondensed-Regular;
  min-width: 320px;
  color: $main-text;

  &.mobileMenu-open {
    overflow: hidden;
  }
}

*, :after, :before {
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  text-align: center;
  font-family: $RobotoCondensed-Light;
  @include font-size(22px, 28px, 32px);
  @include margin(0 0 30px, 0 0 50px);
  color: $color-dark-blue-1;
  //text-transform: capitalize;
}

h2 {
  text-align: center;
  font-family: $RobotoCondensed-Light;
  @include font-size(22px, 28px, 32px);
  @include margin(0 0 30px, 0 0 50px);
  color: $color-dark-blue-1;
  //text-transform: capitalize;
}

p {
  @include margin(0 0 12px, 0 0 20px);
}

ul, ol {
  padding: 0;
  @include margin(0 0 12px 20px, 0 0 20px);

  li {
    margin: 0 0 16px;
    padding: 0;
  }
}

ol {
  //counter-reset: myCounter;

  li {
    //list-style: none;
    padding-left: 10px;
    position: relative;

    //&:before {
    //  @include pseudo-block($top: -6px, $left: -14px);
    //  counter-increment: myCounter;
    //  content: counter(myCounter);
    //  color: currentColor;
    //  display: inline-block;
    //  font-family: $FreightTextProBold-Regular;
    //  font-size: 18px;
    //  margin-right: 10px;
    //}

    &::marker {
      font-family: $FreightTextProBold-Regular;
      font-size: 18px;
    }
  }
}


a {
  color: currentColor;
  text-decoration: underline;
  transition: all .3s;
  padding: 8px 0px;

  &:focus,
  &:focus-visible,
  &:focus-within{
    background-color: $color-dark-blue;
    border-radius: 5px;
    color: $color-white;
  }

  &:hover {
    text-decoration: none;
  }

  & > svg {
    display: block;

    path, rect {
      fill: currentColor;
    }

    circle {
      stroke: currentColor;
    }
  }
}

b, strong {
  font-weight: normal;
}

.ui-autocomplete {
  list-style: none;
  background: $color-dark-blue;
  text-align: left;
  border: none !important;
  border-radius: 0 0 5px 5px;

  .ui-menu-item {
    margin: 0;

    a {
      text-decoration: none;
      padding: 5px 10px;
      color: #fff;
      display: block;
      font-size: 12px;
      margin: 0 5px;

      &.ui-state-active {
        border: none;
        background: $color-blue;
        border-radius: 5px;
      }
    }
  }
}

.pdf-pages {
  padding: 10px 5px;
}

.pdf-canvas {
  max-width: 100%;
  @include margin(0, 0 4px 3px);
}

.public-map {

  strong, b {
    font-weight: 700;
    color: #202C23;
  }

  ul {
    list-style: none;
    margin-left: 30px;
  }
}