.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }

  &:after {
    clear: both;
  }
}

.rteleft {
  text-align: left;
}

.rtecenter {
  text-align: center;
}

.rteright {
  text-align: right;
}

.mobile-only {

  @media (min-width: $bp-small) {
    display: none !important;
  }
}

.desktop-only {
  display: none !important;

  @media (min-width: $bp-small) {
    display: block!important;
  }
}

.skip-link {
  z-index: 503;
  left: 0;
  padding: 1px 10px 2px;
  border: 1px solid #222222;
  border-top-width: 0;
  border-radius: 0 0 10px 10px;
  outline: 0;
  color: #ffffff !important;
  background: #222222 !important;
}

.skip-link.visually-hidden.focusable:focus {
  position: absolute !important;
  width: auto !important;
  height: auto !important;
  clip: auto !important;
  clip-path: none !important;
  overflow: visible !important;
  white-space: normal !important;
}

.not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}
