//color
$color-black: #000;
$color-white: #fff;
$color-gray: #808080;

$color-red: #b3292e;
$color-blue: #253857;
$color-dark-blue: #121e32;


$color-link: $color-black;
$color-link-hover: $color-white;

//fonts
$RobotoCondensed-Regular: RobotoCondensed-Regular;

//grid vars
//widths
$width-xsmall: 90%;
//xs < $bp-small
$bp-small: 768px;
$width-small: 730px;
//$bp-middle > sm >= $bp-small
$bp-middle: 1000px;
$width-middle: 972px;
//$bp-large > md >= $bp-middle
$bp-large: 1200px;
$width-large: 972px;

$bp-xl: 1600px;
//$width-xl: 1560px;

$bp-xxl: 2560px;

//offsets
$container-padding-left: 0;
$container-padding-right: 0;

$container-fluid-padding-left: 0;
$container-fluid-padding-right: 0;

$row-margin-left: 0;
$row-margin-right: 0;

$col-padding-left: 0;
$col-padding-right: 0;

$row-form-left: -10px;
$row-form-right: -10px;

$col-form-padding-left: 10px;
$col-form-padding-right: 10px;

@import "mixins.scss";

