//color
$color-black: #000;
$color-white: #fff;
$color-gray: #808080;
$color-gray-1: #c5c5c5;
$color-gray-2: #6f6f6f;
$color-gray-3: #777777;

$color-red: #b3292e;
$color-blue: #253857;
$color-blue-1: #344b71;
$color-blue-2: #3e5376;
$color-blue-3: #253857;
$color-dark-blue: #121e32;
$color-dark-blue-1: #1f2f4b;
$color-dark-blue-2: #0b1524;

$color-white-1: #f0f0f0;

$border-color: $color-blue-1;
$border-color-1: $color-gray-1;

$main-text: $color-gray;

$color-link: $color-black;
$color-link-hover: $color-white;

//fonts
$Roboto-Regular: Roboto-Regular;
$Roboto-Bold: Roboto-Bold;
$Roboto-MediumItalic: Roboto-MediumItalic;
$Roboto-Italic: Roboto-Italic;

$RobotoCondensed-Regular: RobotoCondensed-Regular;
$RobotoCondensed-Bold: RobotoCondensed-Bold;
//$RobotoCondensed-BoldItalic: RobotoCondensed-BoldItalic;
$RobotoCondensed-Italic: RobotoCondensed-Italic;
$RobotoCondensed-Light: RobotoCondensed-Light;
$RobotoCondensed-LightItalic: RobotoCondensed-LightItalic;


$FreightTextProBold-Regular: FreightTextProBold-Regular;
$FreightTextProMedium-Italic: FreightTextProMedium-Italic;
$FreightTextProBook-Italic: FreightTextProBook-Italic;
$FreightTextProBook-Regular: FreightTextProBook-Regular;
$FreightTextProBlack-Regular: FreightTextProBlack-Regular;
$FreightTextProSemibold-Italic: FreightTextProSemibold-Italic;
$FreightTextProLight-Italic: FreightTextProLight-Italic;
$FreightTextProBlack-Italic: FreightTextProBlack-Italic;
$FreightTextProLight-Regular: FreightTextProLight-Regular;
$FreightTextProBold-Italic: FreightTextProBold-Italic;
$FreightTextProMedium-Regular: FreightTextProMedium-Regular;
$FreightTextProSemibold-Regular: FreightTextProSemibold-Regular;

//grid vars
//widths
$width-xsmall: 90%;
//xs < $bp-small
$bp-small: 768px;
$width-small: 730px;
//$bp-middle > sm >= $bp-small
$bp-middle: 1000px;
$width-middle: 972px;
//$bp-large > md >= $bp-middle
$bp-large: 1200px;
$width-large: 972px;

$bp-xl: 1600px;
//$width-xl: 1560px;

$bp-xxl: 2560px;

//offsets
$container-padding-left: 0;
$container-padding-right: 0;

$container-fluid-padding-left: 0;
$container-fluid-padding-right: 0;

$row-margin-left: 0;
$row-margin-right: 0;

$col-padding-left: 0;
$col-padding-right: 0;

$row-form-left: -5px;
$row-form-right: -5px;

$col-form-padding-left: 5px;
$col-form-padding-right: 5px;

@import "mixins.scss";

