.section {
  position: relative;
  $this: &;

  &_inner-v-centered {
    display: flex;
    flex-direction: column;
  }

  &__v-inner {
    @include padding(35px 0, $md: 50px 0);
    @include min-height($sm: 500px, $md: 588px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_a {
      @include min-height(310px, 400px, 496px);
      @include padding-bottom(60px, 123px);
    }

    &_b {
      @include min-height($sm: 500px, $md: 612px);
    }

    &_c {
      padding: 69px 0 44px;
      @include min-height(244px);
    }
  }

  &__bg-wrap, &__bg {
    @include stretch-block();
    z-index: -1;
  }

  &__bg-wrap {
    overflow: hidden;

    &_mobile {
      @include display($sm: none);

      & + #{$this}__bg-wrap {
        @include display(none, block);
      }
    }
  }

  &__bg {
    background-size: cover;
    background-position: 50% 50%;

    &_mobile {
      @include display($sm: none);

      & + #{$this}__bg {
        @include display(none, block);
      }
    }
  }

  &_bg-color {

    &_a {
      background: $color-dark-blue;
    }

    &_b {
      background: #dedede;
    }

    &_c {
      background: $color-white-1;
    }

    &_f {
      background: $color-blue;
      color: #ffff;

      h1, h2, h3, h4, h5, h6 {
        color: #ffff;
      }
    }
  }

  &_ind {

    &_md {
      padding: 50px 0 63px;
    }

    &_a {
      padding: 90px 0 50px;
    }

    &_b {
      @include padding(40px 0 30px, 60px 0 50px, 90px 0 76px);
    }

    &_c {
      padding: 58px 0 75px;
    }

    &_d {
      padding: 50px 0 88px;
    }

    &_f {
      padding: 74px 0 50px;
    }
  }

  &__sNav {
    position: absolute;
    left: 0;
    top: 28px;
    width: 100%;

    .bContainer {
      display: flex;
      align-items: center;
      padding: 0 17px;

      & > * {
        padding-right: 28px;
      }
    }
  }

  &__btnBack {
    position: absolute;
    left: 0;
    top: 0;
  }

  .bContainer {
    position: relative;
  }
}