@import "../btn/btn";
@import "../bContainer/bContainer";

.bSubNav {
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
  @extend .bContainer;
  margin: 0;
  width: 100vw;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -5px;
  }

  li {
    margin: 0 5px 10px;
    list-style: none;
  }

  a {
    @extend .btn;
  }

  a.is-active, li.menu-item--active-trail a {
    background: $color-blue;
    color: #fff;
  }

  &_gap {

    &_a {
      @include margin-bottom(30px, 40px);
    }
  }
}