.bAbout {
  @include margin-bottom(30px, 47px);

  &__bMedia {
    @include margin-bottom(30px, 50px);
  }

  &__desc {
    line-height: 1.6;
    font-family: $FreightTextProMedium-Regular;
    color: #404040;
  }
}