.bCols {
  $this: &;

  @include sm {
    display: flex;
  }

  &_ind {

  }

  &_v-cent {
    align-items: center;
  }

  &_item {

    @for $i from 1 through 6 {

      &_#{$i} {

        & > #{$this}__col {

          @include sm {
            max-width: (100% / $i);
            min-width: (100% / $i);
          }
        }
      }
    }
  }
}