.breadcrumb {
  color: #afafaf;
  font-size: 12px;
  font-family: $Roboto-Regular;
  line-height: 1.2;

  a {
    color: #afafaf;
    text-decoration: none;
    font-size: 12px;
    font-family: $Roboto-Regular;
    padding-right: 9px;
    position: relative;
    margin: 5px 8px 5px 0;
    display: inline-block;

    &:hover {
      color: $color-white;
    }

    &:after {
      @include pseudo-block($left: 100%, $top: 50%);
      transform: translate(0, -50%);
      height: 10px;
      border-left: 1px solid #afafaf;
      margin-top: 1px;
    }
  }

  span {
    font-family: $Roboto-Bold;
    color: $color-white;
  }

  &_a {
    color: $color-blue-3;

    a {
      color: $color-blue-3;

      &:hover {
        color: $color-red;
      }

      &:after {
        border-color: $color-blue-3;
      }
    }

    span {
      color: $color-blue-3;
    }
  }
}