.f-search {
  position: relative;

  .form-actions {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    margin: 0;
  }

  .form-item {
    margin: 0;
  }

  select, input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea {
    padding-right: 115px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &_min {

    .form-submit {
      padding-left: 16px;
      padding-right: 16px;
      @include width(30px, 38px);
      @include height(30px, 38px);
      @include text-hide();
      display: block;
    }

    .form-actions {

      &:before {
        @include pseudo-block($top: 50%, $left: 50%);
        transform: translate(-50%, -50%);
        width: 8px;
        height: 12px;
        background: url('white-arrow-1.png') no-repeat;
        background-size: contain;
        pointer-events: none;
      }

      .ajax-progress {
        display: none;
      }
    }

    select, input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea {
      padding-right: 50px;
    }
  }

  &_throbber {

    &_show {

      .ajax-progress {
        display: block !important;

        top: 0;
        right: auto;
        left: 100%;
        margin-left: 15px;
      }
    }
  }

  &_s {

    &_a {
      width: 100%;
      max-width: 500px;
    }
  }
}