input:not([type=checkbox]):not([type=radio]),
select:not(.ui-datepicker-month):not(.ui-datepicker-year),
textarea {
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

select:not(.ui-datepicker-month):not(.ui-datepicker-year) {
  cursor: pointer;
  padding-right: 40px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAQAAACoRNXiAAAAK0lEQVQY02NgoA0w/mb8Hw6/oUuaIkmaYuotgEoVYDd6LVBqLW6bj5HsWAAv0Bfed1VYOwAAAABJRU5ErkJggg==');
  background-position: 96% 50%;
  background-repeat: no-repeat;
  opacity: 0;
}

select:not(.ui-datepicker-month):not(.ui-datepicker-year),
input:not([type=submit]):not([type=checkbox]):not([type=radio]),
textarea {
  transition: border-color .3s, box-shadow .3s;
  background-color: #fff;
  border: 1px solid $border-color-1;
  line-height: 1.2;
  width: 100%;
  font-family: $FreightTextProBook-Regular;
  color: $color-gray-2;
  @include input-placeholder($color-gray-2);
  @include padding(12px 14px, 15px 20px);
  @include font-size(12px, 14px);
  border-radius: 5px;
  box-sizing: border-box;

  &:focus:not([type=file]):not([readonly]) {
    border-color: rgba(0, 0, 0, .4);
    box-shadow: inset 0 0 9px 0 rgba(0, 0, 0, .4);
  }

  &.error, &.mktoInvalid {
    border-color: red;
  }

  &.required, &.required + .select2 .select2-selection.select2-selection--single {
    background-image: url("required.png");
    background-position: 6px 12px;
    background-repeat: no-repeat;
    background-size: 6px auto;

    @include sm {
      background-position: 11px 16px;
    }
  }
}

textarea {
  resize: none !important;
  min-height: 134px !important;
}

.form {

  input[type="search"] {
    box-sizing: border-box;
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: none;

    legend {
      @include margin(0 0 10px);

      .fieldset-legend {
        text-align: center;
        font-family: $RobotoCondensed-Light;
        @include font-size(16px, 17px, 18px);
        color: $color-dark-blue-1;
      }
    }
  }

  .form-item {
    margin-bottom: 10px;
    margin-top: 0;
    position: relative;
  }

  .am-row {
    margin-left: $row-form-left;
    margin-right: $row-form-right;

    div[class*='am-col-'] {
      padding-left: $col-form-padding-left;
      padding-right: $col-form-padding-right;

      .form-required:not([for='edit-captcha-response']) {

        &:after {
          margin: -6px 0 0 5px;

          @media (min-width: $bp-small) {
            margin: -3px 0 0 10px;
          }
        }
      }
    }

    select, input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea {
      width: 100%;
    }
  }

  .form-required:not([for='edit-captcha-response']) {
    position: absolute;
    top: 26px;
    left: 7px;
    font-size: 0;
    font-family: $RobotoCondensed-Regular;
    color: transparent;
    line-height: 0;
    clip: auto;
    overflow: visible;

    &:after {
      content: '*';
      background: none;
      width: auto;
      height: auto;
      margin: -6px 0 0 0px;
      font-size: 16px;
      line-height: 1.2;
      color: $color-red;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      font-family: $FreightTextProBook-Regular;

      @media (min-width: $bp-small) {
        margin: -3px 0 0 5px;
        font-size: 18px;
      }
    }

    & + input.required {
      background-image: none !important;
    }
  }

  .form-required[for='edit-captcha-response'] {

    &:before {
      content: '*';
      background: none;
      width: auto;
      margin: 0 3px 0 0;
      font-size: 16px;
      line-height: 1;
      color: $color-red;
      height: 17px;
      display: inline-block;
      overflow: hidden;
      vertical-align: text-bottom;
      font-family: $FreightTextProBook-Regular;

      @media (min-width: $bp-small) {
        font-size: 18px;
      }
    }

    &:after {
      display: none;
    }
  }

  .form-required-note {
    text-align: center;
    @include margin-top(15px, 26px);
    font-family: $FreightTextProBook-Regular;
    font-size: 14px;
    color: #6f6f6f;

    span {
      font-size: 16px;
      line-height: 1;
      color: $color-red;
      display: inline-block;
      font-family: $FreightTextProBook-Regular;

      @media (min-width: $bp-small) {
        font-size: 18px;
      }
    }
  }
}

.form-actions {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0;
  position: relative;

  &__required {
    color: #ff000c;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 10px;
    font-family: $RobotoCondensed-Regular;
    margin: 0 !important;

    span {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.captcha {
  max-width: 330px;
  margin: 0 auto 20px;
}

.webform-confirmation__message {
  font-family: $RobotoCondensed-Regular;
  font-size: 28px;
  text-align: center;
  color: $color-red;

  *:last-child {
    margin-bottom: 0;
  }
}


.ajax-progress {
  position: absolute;
  top: -27px;
  right: 0;
  margin-left: 0;

  @include sm {
    top: 0;
    right: auto;
    left: 100%;
    margin-left: 15px;
  }

  .throbber {
    border-radius: 50%;
    background: $color-white url('loader-1.gif') no-repeat 2px 2px;
    float: left;
    height: 20px;
    width: 20px;
    margin: 2px;
  }
}

#user-login-form {
  max-width: 532px;
  margin: 160px auto;

  .js-form-item {
    margin: 0 0 20px;

    label {
      display: block;
    }
  }
}

#webform-submission-contact-intership-form-ajax, #webform-submission-reserve-a-form-ajax {

  .webform-confirmation {
    padding-top: 100px;

    @include sm {
      padding-top: 200px;
    }
  }
}