.fSignUp {
  text-align: center;
  color: #777777;

  &__desc, &__desc.form-item {
    @include cr-last-child;
    @include margin-bottom(30px, 46px);
  }

  &__items {
    max-width: 330px;
    margin: 0 auto 20px;
  }

  .form-actions {
    display: inline-block;
  }

  .form-type-select {

    .select2-container {
      width: 100%;

      .select2-selection--single .select2-selection__rendered {
        padding: 16px 36px 16px 25px;
      }

      .select2-selection--single .select2-selection__arrow {
        right: 8px;
      }
    }
  }
}

