.fSignUp {
  text-align: center;
  color: #777777;

  &__desc {
    @include cr-last-child;
    @include margin-bottom(30px, 46px);
  }

  &__items {
    max-width: 330px;
    margin: 0 auto 30px;
  }

  .form-actions {
    display: inline-block;
  }
}