.search-form {


  .path-search & {
    max-width: 400px;
    margin: 0 auto 30px;

    .search-advanced, .search-help-link {
      display: none;
    }

    .container-inline {
      position: relative;

      label {
        display: none;
      }

      .form-submit {
        margin: 0;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}