.logo {
  transition: opacity .3s;
  backface-visibility: hidden;
  padding: 0px 22px 0px 0px;

  &:hover{
    opacity: .5;
  }

  &:focus
  &:focus-visible,
  &:focus-within {
  background: $color-dark-blue;
  border-radius: 28px 5px 5px 28px;
  }

  a {
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
    color: $color-white;
    font-size: 18px;
    font-family: $FreightTextProMedium-Regular;
    text-decoration: none;

    @include mq-down(370px) {
      font-size: 14px;
    }
    &:focus
    &:focus-visible,
    &:focus-within {
      //owerwrite unique of global :focus effect, here it's darker bg-color case
      background-color: transparent;
    }
  }

  img {
    max-width: 55px;
    max-height: 55px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }
}
