.bListLinks {
  max-width: 900px;
  margin: 0 auto;
  $this: &;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -20px;
    margin-left: -20px;

    @include sm {
      justify-content: flex-start;
      margin-right: -60px;
      margin-left: -60px;
    }

    &_cen {
      justify-content: center;
    }
  }

  &__item {
    max-width: 280px;
    min-width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    text-align: center;

    @include sm {
      min-height: 100px;
      max-width: 33.3333333%;
      min-width: 33.3333333%;
      padding-left: 60px;
      padding-right: 60px;
      margin-bottom: 40px;
    }
  }

  &__link {
    font-family: $FreightTextProBook-Regular;
    font-size: 16px;
    color: $color-blue-3;
    line-height: 1.5;

    @include sm {
      font-size: 18px;
      line-height: 1.7;
    }
  }

  &_a {
    max-width: 906px;

    #{$this}__items {
      margin: 0;

      & > * {
        margin: 0 4px 8px;
      }
    }

    &_s {

      &_a {
        max-width: 684px;
      }
    }
  }

  &_b {
    max-width: 744px;
    margin: 0 auto;

    #{$this}__links {

      @include sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -20px;
      }

      & > * {

        @include sm {
          width: calc(50% - 40px);
          margin: 0 20px 15px !important;
        }

        &:last-child:not(:first-child) {

          @include sm {
            margin-right: auto !important;
          }
        }
      }
    }
  }

  &_btnArr {

    #{$this}__link {
      padding: 16px 37px 16px 20px;
      background: $color-white;
      border: 1px solid #cbcbcb;
      border-radius: 5px;
      color: $color-blue;
      font-family: $Roboto-Bold;
      display: block;
      margin:  0 0 9px;
      text-decoration: none;
      position: relative;
      font-size: 14px;
      line-height: 1.4;
      backface-visibility: hidden;

      &:hover {
        opacity: .7;
      }

      &:focus,
      &:focus-visible,
      &:focus-within {
        background-color: $color-dark-blue;
        color: $color-white;

        &:after {
          filter: brightness(0) invert(1);
        }
      }

      &:after {
        @include pseudo-block($right: 20px, $top: 50%);
        transform: translate(0, -50%);
        width: 7px;
        height: 13px;
        background: url('arrow-blue-ico-1.png') no-repeat;
        background-size: contain;
      }
    }

    &_inline {
      text-align: center;

      #{$this}__link {
        display: inline-block;
        margin: 0 8px 9px;
      }
    }
  }

  &_gap {

    &_a {
      @include margin-bottom(30px, 40px);
      @include cr-last-item;
    }

    &_b {
      @include margin-bottom(15px, 15px);
      @include cr-last-item;
    }
  }
}